<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Assistant</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<!--<form action="/getValueFromTextbox" method="POST">
            <input name="text" placeholder="Enter text here:">
            <button type="submit">Submit</button>
        </form> -->
<div class="container">
    <h2>Light Switch</h2>
    <div class="toggle-btn" onclick="this.classList.toggle('active')">
        <input type="checkbox" class="invis">

        <div class="inner-circle">
        </div>
    </div>
</div>


</body>
</html>